<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        height: 60px;
        width: 100%;
        background-color: rgb(212, 143, 64);
        color: white;
        text-align: center;
        margin-top: 25px;
      }
      .para {
        margin-top: 5px;
        margin: 5px;
        font-size: 17px;
      }
    </style>
  </head>
  <body>
    <div class="footer">
      <p class="para">Developed By - Abhishek Anand</p>
      <p class="para">All right reserved</p>
    </div>
  </body>
</html>
