<nav
  class="navbar navbar-inverse navbar-fixed-top"
  style="background-color: rgb(212, 143, 64)"
>
  <div class="container-fluid">
    <div class="navbar-header">
      <a
        class="navbar-brand active"
        href="/"
        style="color: rgba(0, 0, 0, 0.63); font-size: 25px"
        onMouseOut="this.style.color='black'"
        onMouseOver="this.style.color='white'"
        >Food Style</a
      >
    </div>

    <ul class="nav navbar-nav navbar-right" style="margin-right: 15px">
      <li>
        <a
          href="/home"
          style="color: rgba(0, 0, 0, 0.63); font-size: 20px"
          onMouseOver="this.style.color='white'"
          onMouseOut="this.style.color='black'"
          >Home</a
        >
      </li>
      <li>
        <a
          href="/menu"
          style="color: rgba(0, 0, 0, 0.63); font-size: 20px"
          onMouseOver="this.style.color='white'"
          onMouseOut="this.style.color='black'"
          >Menu</a
        >
      </li>
      <li>
        <a
          href="/order"
          style="color: rgba(0, 0, 0, 0.63); font-size: 20px"
          onMouseOver="this.style.color='white'"
          onMouseOut="this.style.color='black'"
          >Order</a
        >
      </li>
      <li>
        <a
          href="/review"
          style="color: rgba(0, 0, 0, 0.63); font-size: 20px"
          onMouseOver="this.style.color='white'"
          onMouseOut="this.style.color='black'"
          >Review</a
        >
      </li>
    </ul>
  </div>
</nav>
