<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/main.css" />
    <style></style>
  </head>
  <body>
    <header class="main_header">
      <nav class="main-header_nav">
        <ul class="main_header_item_list">
          <li class="main_header_item"><a href="/">Home</a></li>
          <li class="main_header_item">
            <a href="/admin/add-product" class="active">Add-Product</a>
          </li>
        </ul>
      </nav>
    </header>
    <h1>Page not found Ejs page</h1>
  </body>
</html>
