<%- include("./includes/head") %>
  <link rel="stylesheet" href="/css/form.css" />
</head>
<body>
  <%- include("./includes/navigation") %>
  <h1>Admin-Add Product</h1>
  <form action="/admin/products" method="POST" class="form">
    Name: <input class="textbox" type="text" name="name" required/><br />
    Brand: <input class="textbox" type="text" name="brand" required/><br />
    Price:  <input class="textbox" type="number" name="price" required/><br />
    <button class="button" type="submit">Add</button>
  </form>
  <%- include("./includes/footer") %>
</body>
