<%- include("./includes/head") %>
    <link rel="stylesheet" href="/css/home.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">  
  </head>
  <body>
    <%- include("./includes/navigation") %>
   <header>
    <div class="row">
      <div class="logo">
      <img src="/img/logo.png">
    </div>
    <div class="hero">
      <h1>GOODBYE JUNKFOOD <br><br> HELLO SUPER HEALTHY MEALS</h1>
    </div>
    </header>

    <section class="features">
      <h3 class="text-center">GET FOOD FAST NOT THE FAST FOOD</h3>
      <p class="text-center">Hello. We're foodstyle,the all new food style, your new premium restaurant and food delivery service.We know you're always busy.<br>
         No time for cooking.So let us take acre of that,we're really good at it,we promise.
      </p>
      <div class="container">
        <div class="row">
        
            <div class="col-md-3">
            <i class="fa fa-hourglass"></i>
            <h4>UP TO 365 DAYS/YEAR</h4>
              <p class="arranging">Never cook food! We really mean that.Our subscription plans include up to 365 days/yera coverage. You can also choose to order more flexibly if that's your style.
              </p>
            </div>
            
            <div class="col-md-3">
            <i class="fa fa-clock-o"></i>
            <h4>READY IN 20 MINUTES</h4>
              <p class="arranging">You're only twenty minutes away from your delicious and super healthy meals delivered right to your place.We work with the best chefs int each town to ensure that you're 100% happy.
              </p>
            </div>
            
            <div class="col-md-3">
            <i class="fa fa-pagelines"></i>
            <h4>100% ORGANIC</h4>
              <p class="arranging">All our vegetables are fresh,organic and local.Animals are raised without added hormones or antibiotics.Good for your health,the environment and it also tastes better!
              </p>
            </div>
            
            <div class="col-md-3">
            <i class="fa fa-shopping-cart"></i>
            <h4>ORDER ANYTHING</h4>
              <p class="arranging">We don't limit your creativity, which means you can order whatever you feel like.You can also choose from our menu containing over 100 delicious meals.It's all up to you!
              </p>
          </div>

        </div>
      </div>
      </section>

      <section class="cities">
        <h3 class="text-center">WE ARE CURRENTLY IN THE CITIES</h3>
        <div class="container">
          <div class="row">
          
            <div class="col-md-3">
            <figure class="city">
            <img src="/img/mohali.jpg" height="200" width="300"/><br><br>
            <h4>Mohali</h4>
            <p><i class="fa fa-user-plus"></i>   3700+ happy eaters</p>
            <p><i class="fa fa-star"></i>   160+ top chefs</p>
            <p><i class="fa fa-twitter"></i>   @foodstyle_mohali</p>
            </figure>
          </div>
          
          <div class="col-md-3">
            <figure class="city">
            <img src="/img/chandigarh.jpg" height="200" width="300"/><br><br>
            <h4>Chandigarh</h4>
            <p><i class="fa fa-user-plus"></i>   2300+ happy eaters</p>
            <p><i class="fa fa-star"></i>   110+ top chefs</p>
            <p><i class="fa fa-twitter"></i>   @foodstyle_chandigarh</p>
            </figure>
          </div>
          
          <div class="col-md-3">
            <figure class="city">
            <img src="/img/amritsar.jpg" height="200" width="300"/><br><br>
            <h4>Amritsar</h4>
            <p><i class="fa fa-user-plus"></i>    1600+ happy eaters</p>
            <p><i class="fa fa-star"></i>   60+ top chefs</p>
            <p><i class="fa fa-twitter"></i>   @foodstyle_amritsar</p>
            </figure>
          </div>
          
          <div class="col-md-3">
            <figure class="city">
            <img src="/img/jalandhar.jpg" height="200" width="300"/><br><br>
            <h4>Jalandhar</h4>
            <p><i class="fa fa-user-plus"></i>    1200+ happy eaters</p>
            <p><i class="fa fa-star"></i>    50+ top chefs</p>
            <p><i class="fa fa-twitter"></i>    @foodstyle_jalandhar</p>
            </figure>
          </div>
    
          </div>
        </div>	
      </section>
      
      <section class="testimonials">
        <h3 class="text-center">OUR CUSTOMERS CAN'T LIVE WITHOUT US</h3>
        <div class="container">
          <div class="row">
          <div class="col-md-4">
             <p>Foodstyle is just awesome ! I just launched a startup which leaves me with no time for cooking, so Foodstyle is a life-saver. Now that I got used to it, I couldn't live without my daily meals.
             </p>
             <cite><img src="/img/abhishek.PNG"/>Abhishek Anand</cite>
          </div>
          
          <div class="col-md-4">
             <p>Inexpensive, healthy and great-tasting meals, delivered right to my home. We have lots of food delivery here in Mohali, but no one comes even close to Foodstyle. Me and my family are so in love!
             </p>
             <cite><img src="/img/anant.png"/>Anant Srivastava</cite>
          </div>
          
          <div class="col-md-4">
             <p>I was looking for a quick and easy food delivery service in Amritsar. I tried a lot of them and ended up with Foodstyle. Best food delivery service. Keep up the great work.
             </p>
             <cite><img src="/img/rahul.PNG"/>Rahul Shaw</cite>
          </div>
          
          </div>
        </div>
      </section>
      <%- include("./includes/footer") %>
  </body>