<%- include("./includes/head") %>
  <link rel="stylesheet" href="/css/menu.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">   
</head>
<body>
  <%- include("./includes/navigation") %>
  <p class="veg">Veg Items</p>
  <div class="row" style="margin-top: 20px; margin-left: 10px; margin-right: 10px;">
    <div class="col-md-3">
      <div class="thumbnail">
        <img src="/img/aaloodum.jpg" alt="Aaloo Dum" style="width:275px; height: 250px;">
          <div class="caption">
            <p style="text-align: center; font-size: 16px;">Aaloo Dum Banarsi - ₹ 70.00</p>
          </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="thumbnail">
        <img src="/img/mushroomchilly.jpg" alt="Mushroom Chilly" style="width:275px; height: 250px;">
          <div class="caption">
            <p style="text-align: center; font-size: 16px;">Mushroom Chilly - ₹ 160.00</p>
            
          </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="thumbnail">
        <img src="/img/matarpaneer.jpg" alt="Matar Paneer" style="width:275px; height: 250px;">
          <div class="caption">
            <p style="text-align: center; font-size: 16px;">Matar Paneer - ₹ 80.00</p>
          </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="thumbnail">
        <img src="/img/bhindimasala.jpg" alt="Bhindi Masala" style="width:275px; height: 250px;">
          <div class="caption">
            <p style="text-align: center; font-size: 16px;">Bhindi Masala - ₹ 60.00</p>
          </div>
      </div>
    </div>
  </div>
  <p class="para2">Nonveg Items</p>
  <div class="row" style="margin-top: 20px; margin-left: 10px; margin-right: 10px;">
    <div class="col-md-3">
      <div class="thumbnail">
        <img src="/img/butterchicken.jpg" alt="Butter Chicken" style="width:275px; height: 250px;">
          <div class="caption">
            <p style="text-align: center; font-size: 16px;">Butter Chicken - ₹ 400.00</p>
          </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="thumbnail">
        <img src="/img/tandoorichicken.jpg" alt="Tandoori Chicken" style="width:275px; height: 250px;">
          <div class="caption">
            <p style="text-align: center; font-size: 16px;">Tandoori Chicken - ₹ 300.00</p>
            
          </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="thumbnail">
        <img src="/img/tangrikabab.jpg" alt="Tangri Kabab" style="width:275px; height: 250px;">
          <div class="caption">
            <p style="text-align: center; font-size: 16px;">Tangri Kabab - ₹ 240.00</p>
          </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="thumbnail">
        <img src="/img/eggcurry.jpg" alt="Egg Curry" style="width:275px; height: 250px;">
          <div class="caption">
            <p style="text-align: center; font-size: 16px;">Egg Curry - ₹ 100.00</p>
          </div>
      </div>
    </div>
  </div>
  <p class="para2">Desserts</p>
  <div class="row" style="margin-top: 20px; margin-left: 10px; margin-right: 10px;">
    <div class="col-md-3">
      <div class="thumbnail">
        <img src="/img/coconutkheer.jpg" alt="Coconut Kheer" style="width:275px; height: 250px;">
          <div class="caption">
            <p style="text-align: center; font-size: 16px;">Coconut Kheer - ₹ 80.00</p>
          </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="thumbnail">
        <img src="/img/gulabjamun.jpg" alt="Gulab Jamun" style="width:275px; height: 250px;">
          <div class="caption">
            <p style="text-align: center; font-size: 16px;">Gulab Jamun(2 pcs) - ₹ 40.00</p>
            
          </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="thumbnail">
        <img src="/img/cupcakes.jpg" alt="Cup Cakes" style="width:275px; height: 250px;">
          <div class="caption">
            <p style="text-align: center; font-size: 16px;">Cup Cakes - ₹ 60.00</p>
          </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="thumbnail">
        <img src="/img/chocolatebrownie.jpg" alt="Chocolate Brownie" style="width:275px; height: 250px;">
          <div class="caption">
            <p style="text-align: center; font-size: 16px;">Chocolate Brownie - ₹ 50.00</p>
          </div>
      </div>
    </div>
  </div>
  <a href="/order"><button class="btn btn-primary button">Order Now</button></a>
  <%- include("./includes/footer") %>
</body>
